@import url("https://itsfoxdev.github.io/resources/fonts/gilroy/import.css");
*{font-family:gilroy;transition:all .2s ease;}
body{
  background:rgb(24, 24, 24);
  padding-top:75px;
  padding-bottom:25px;
}
h1{color:white;}
#episodes{
  gap:10px;
  max-width:750px;
  margin:auto;
}
#episodes grid{
  aspect-ratio:6 / 1;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  background:black;
  width:100%;
  border-radius:10px;
}
#episodes grid img[cover]{
  aspect-ratio:2 / 1;
  margin-right:-100%;
  border-radius:10px 0px 0px 10px;
  margin:0px !important;
  width:100% !important;
  height:100% !important;
  border:none !important;
}
#episodes grid grad{
  display:block;
  height:100%;
  aspect-ratio: 2 / 1;
  z-index:1;
  background:linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%);
  border-radius:10px 0px 0px 10px;
}
#episodes grid name{
  color:white;
  text-align:right;
  overflow:visible;
  display:flex;
  align-items: flex-end;
  flex-direction:column;
  z-index:1;
  justify-content: center;
}
#episodes grid name{
  height:100%;
  aspect-ratio:2 / 1;
  display:inline-flex;
  align-items:center;
  font-weight:bold;
  box-sizing:border-box;
  font-size:25px;
  margin-right:10px;
  z-index:2;
  padding:10px;
}
#episodes grid img{
  width:calc(100% - 14px);
  height:calc(100% - 14px);
  margin:5px;
  border-radius:10px;
  border:2px solid transparent;
  overflow:hidden;
  object-fit: cover;
  cursor:pointer;
}
#episodes grid img[winner]{
  border:2px solid var(--yellow);
  box-shadow:0px 0px 15px 5px #ffd500a1 !important;
  z-index:5;
}
#episodes grid img:hover{
  scale:1.2;
}
header{
  width:100%;
  height:55px;
  position: fixed;
  z-index:100;
  left:0px;
  right:0px;
  top:10px;
}
#guide{
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  background:black;
  height:55px;
  width:100%;
  margin:0px 8px;
  max-width:750px;
  border:1px solid rgba(255,255,255,0.4);
  border-radius:10px;
  color:white;
}
header *{
  text-align:center;
  width:100%;
  font-weight:500;
  font-size:12px;
}
header > div > div{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}
header > div > div > img{
  width:32px;
  border-radius:50%;
  aspect-ratio:1 / 1;
  object-fit:cover;
}
#episodes > grid > div{
  position:relative;
  aspect-ratio:2 / 1;
}
#episodes > grid > div > *{
  position:absolute;
  width:100%;
  height:100%;
  inset:0px;
}
/*.enlarged{
  transition:all .2s ease;
  all:unset;
  transition:all .2s ease;
  position:fixed;
  inset:25px;
  width:calc(100vw - 50px);
  height:calc(100vh - 50px);
  z-index:100;
  scale:1 !important;
}*/
#viewer{
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.6);
  position:fixed;
  inset:0px;
  z-index:200;
  backdrop-filter:blur(5px);
  opacity:0;
  box-sizing:border-box;
  display:none;
}
#viewer.enabled{
  opacity:1;
}
#viewer.show{
  display:grid;
}
#viewimg{
  max-width:calc(100vw - 50px);
  max-height:calc(100vh - 50px);
  scale:0;
  border-radius:10px;
  cursor:pointer;
  user-select:none;
  -webkit-user-drag: none;
}
#viewer.enabled #viewimg{
  scale:1;
}
#loader{
  transition:all 0.5s ease-out;
  position:fixed;
  width:100vw;
  height:100vh;
  z-index:100;
  inset:0px;
  top:0px;
  backdrop-filter:blur(10px);
  background:rgba(0, 0, 0, 0.774);
  overflow:hidden;
}
#loadcontainer{
  display:block;
  width:300px;
  height:10px;
  border-radius:10px;
  background:rgba(255,255,255,0.3);
}
#loadbar{
  transition:width .2s ease;
  display:block;
  width:0%;
  height:10px;
  border-radius:10px;
  background:white;
}
#loadimg{
  max-width:400px;
  margin-bottom:25px;
}
#headerimg{
  width:90%;
  margin:auto;
  scale:0.85;
}
#topbtns{
  gap:10px;
}
#topbtns > button,#topbtns > a{
  text-decoration: none;
  background:transparent;
  color:white;
  font-size:20px;
  padding:5px 10px;
  border-radius:10px;
  border:2px dashed rgba(255, 255, 255, 0.068);
  transition:border .2s ease;
  cursor:pointer;
}
#topbtns > button:hover,#topbtns > a:hover{
  border:2px solid white;
}